.art-piece img.picture {
    max-width: 600px;
    max-height: 300px;
}

.art-piece div.art-frame {
    text-align: center;
    width: 600px;
    height: 300px;
}

img.work-thumbnail {
    max-width: 64px;
    max-height: 64px;
}
