.art-piece {
    padding-right: $spacing-unit * 2;
    width: $spacing-unit * 10;
}

.art-piece img.picture {
    max-height: $spacing-unit * 12;
    max-width: $spacing-unit * 10;
}

.art-piece div.art-frame {
    text-align: center;
    width: 600px;
    height: 300px;
}

.art-piece, .art-gallery {
    float: left;
}

.works-gallery {
    background-color: $grey-gallery;
    display: inline-block;
}

.works-gallery td {
    text-align: center;
    padding: 1px;
}

.work-info {
    margin-top: $spacing-unit/3;
}

.work-name {
    font-size: $small-font-size;
    //display: block;
}

.work-details {
    font-style: italic;
    font-size: $extrasmall-font-size;
}
